services:
  fastapi:
    build: .
    container_name: fastapi
    ports:
      - "8000:8000"
    depends_on:
      - influxdb
    environment:
      - INFLUXDB_URL=http://influxdb:8086
      - INFLUXDB_TOKEN=dT_Ot6Wm9zgDGRMIV7PTlcz6k5RXTrQAcdhhdqRpmml4bbRGmLpc1LZqcvpQwRFEZ1wRyY6F3wdV5IbTNJkCSw==
      - INFLUXDB_ORG=meu_org
      - INFLUXDB_BUCKET=meu_bucket

  influxdb:
    image: influxdb:2
    container_name: influxdb
    ports:
      - "8086:8086"
    volumes:
      - influxdb_data:/var/lib/influxdb2
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=12345678
      - DOCKER_INFLUXDB_INIT_ORG=meu_org
      - DOCKER_INFLUXDB_INIT_BUCKET=meu_bucket
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=DKkcVOJlopsZ_xLccqhj2wYpf-IhuVMx2AMeFupymE1XySZlP9Nz0F2zRvX0zpjiVsf5AiXGUeuZSauNV2HC3w==

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3030:3000"
    depends_on:
      - influxdb
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  influxdb_data:
  grafana_data:
